$tcc-blue: #00182f;
$tcc-blue-dark: #000050;
$tcc-red: #CB0017;
$tcc-red-dark: #C4001A;
$tcc-gold: #9C7F59;
$tcc-gold-dark: #A57B5E;
$tcc-gold-light: #F8F3E7;
$tcc-black: #251716;
$tcc-bg-light: #fffbee;
$tcc-bg-dark: #9B7E6A;
